/* Descendant Selector */
#parent p {
    color: blue;
}
#parent1 p {
    color: rgb(0, 225, 255);
}
#menu li {
    color: tomato;
}
#container .box p {
    color: rgb(255, 0, 106);
}
#main h1 {
    color: green;
}
#container a {
    text-decoration: none;
}
nav ul li a {
    color: #333;
}
.container1 .box p {
    font-style: italic;
}
.menu1 li {
    font-weight: bold;
}
.container2 p {
    text-decoration: underline;
}


/* Child Selector */
#child > p {
    color: rgb(42, 161, 48);
}
#child1 > div > p {
    color: rgb(0, 255, 179);
}
#childmenu > li {
    color: rgb(187, 255, 0);
}
#childcontainer > .box > p {
    color: rgb(255, 51, 0);
}
#childmain > article > p {
    font-weight: bold;
}
#childcontainer2 > div > span > a {
    color: rgb(0, 68, 255);
}
nav > ul > li > a {
    font-weight: bold;
}
.childcontainer3 > .box > span {
    color: rgb(162, 0, 255);
}
.childmenu3 > li {
    color: #ffae00;
}
.childcontainer4 > div > p {
    font-size: 18px;
}


